main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
  background: radial-gradient(ellipse at bottom, #052144 0%, #050608 100%);
  position: relative;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
p,
button {
  background: none;
  user-select: none;
}

/* ----------------------------------- */
/************* Solar System ************/
/* ----------------------------------- */

.sun {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  width: 82px;
  height: 82px;
  background-color: #fdb813;
  box-shadow: 0 0 60px #f39c12, 0 0 100px #e67e22;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  transition: width 0.5s ease, height 0.5s ease, border-radius 0.5s ease,
    box-shadow 0.5s ease, background-color 0.5s ease;
  cursor: pointer;
  user-select: none;
}

.sun.clicked {
  width: 200px;
  height: 120px;
  border-radius: 12px;
  background-color: #e3a724b7;
  box-shadow: none;
}

.sunContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: none;
  opacity: 0;
  transition: opacity 0.2s ease;
  font-size: 30px;
}

.sun.clicked .sunContent {
  opacity: 1;
  transition-delay: 0.3s;
}

/* ----------------------------------- */
/*### Orbital Trajectory of Planets ###*/
/* ----------------------------------- */

.orbit {
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: width 0.5s ease, height 0.5s ease, opacity 0.5s ease;
}

.sun.clicked ~ .orbit {
  width: 600px;
  height: 780px;
  opacity: 0;
}

.mercury-orbit {
  width: 100px;
  height: 100px;
  animation-duration: 2.89016s;
  animation-name: rotateOrbit;
}

.venus-orbit {
  width: 130px;
  height: 130px;
  animation-duration: 7.38237s;
  animation-name: rotateOrbit;
}

.earth-orbit {
  width: 180px;
  height: 180px;
  animation-duration: 12.00021s;
  animation-name: rotateOrbit;
}

.moon-orbit {
  position: absolute;
  width: 27.5px;
  height: 27.5px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  animation-duration: 0.89764s;
  animation-name: rotateOrbit;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.mars-orbit {
  width: 250px;
  height: 250px;
  animation-duration: 22.57017s;
  animation-name: rotateOrbit;
}

.jupiter-orbit {
  width: 420px;
  height: 420px;
  animation-duration: 142.35138s;
  animation-name: rotateOrbit;
}

.saturn-orbit {
  width: 580px;
  height: 580px;
  animation-duration: 353.36998s;
  animation-name: rotateOrbit;
}

.uranus-orbit {
  width: 700px;
  height: 700px;
  animation-duration: 1008.20215s;
  animation-name: rotateOrbit;
}

.neptune-orbit {
  width: 780px;
  height: 780px;
  animation-duration: 1977.49584s;
  animation-name: rotateOrbit;
}

/* ----------------------------------- */
/*############## Planets ##############*/
/* ----------------------------------- */
.planet {
  position: absolute;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.5s ease;
}

.sun.clicked ~ .orbit {
  opacity: 0;
}

.mercury {
  width: 9px;
  height: 9px;
  background-color: #6e6e6e;
  top: -5px;
  background: radial-gradient(circle, #7d7d7d, #4c4c4c);
}

.venus {
  width: 13px;
  height: 13px;
  background-color: #d69c44;
  top: -7px;
  background: radial-gradient(circle, #f6b730, #e37d2f);
}

.earth {
  width: 15px;
  height: 15px;
  background-color: #4a90e2;
  top: -9px;
  background: radial-gradient(circle, #7ec8f3, #006494);
}

.moon {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #bbb;
  border-radius: 50%;
  top: -2.5px;
  left: 50%;
  transform: translateX(-50%);
  background: radial-gradient(circle, #d1d1d1, #a1a1a1);
}

.mars {
  width: 10px;
  height: 10px;
  background-color: #c94f38;
  top: -6.5px;
  background: radial-gradient(circle, #e5634d, #d04b33);
}

.jupiter {
  z-index: 1;
  width: 70px;
  height: 70px;
  background-color: #bb8748;
  top: -32px;
  background: radial-gradient(
    circle at 35% 35%,
    #e5b08d,
    #be8c5e,
    #9c623c,
    #5b3d1f
  );
}

.saturn {
  z-index: 2;
  width: 35px;
  height: 35px;
  background: linear-gradient(to bottom, #f1e1c6, #d4b58b, #cfa16a);
  top: -18px;
}

.saturn-ring1 {
  position: absolute;
  background: none;
  z-index: 1;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  transform: translate(-50%, -50%);
  border: 12px solid rgba(209, 178, 127, 0.6);
  top: 50%;
  left: 50%;
}

.saturn-ring2 {
  position: absolute;
  background: none;
  z-index: 1;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  transform: translate(-50%, -50%);
  border: 2px solid rgba(218, 174, 112, 0.5);
  top: 50%;
  left: 50%;
}

.uranus {
  width: 25px;
  height: 25px;
  background: radial-gradient(circle, #98c9e0, #6a9fbd);
  top: -13px;
}

.neptune {
  width: 22px;
  height: 22px;
  background: radial-gradient(circle, #4e78a3, #0a2342);
  top: -12px;
}

@keyframes rotateOrbit {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* ----------------------------------- */
/* ----------------------------------- */

/* ----------------------------------- */
/************** Bubble Man *************/
/* ----------------------------------- */

.infoBubble {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 5px;
  height: 5px;
  border-radius: 12px;
  cursor: pointer;
  background-color: rgba(56, 55, 55, 0.758);
  transition: transform 0.6s ease, height 0.9s ease, width 0.9s ease,
    border-radius 0.3s ease;
}

.infoBubbleContent {
  opacity: 0;
  background: none;
  transition: opacity 0.3s ease;
}

/* Ensure the base size before expansion */
.sun ~ .infoBubble {
  height: 0px;
  width: 0px;
  border-radius: 12px;
  transform: translate(0px, 0px);
}

/* Enable text visibility after expansion */
.sun.clicked ~ .infoBubble .infoBubbleContent {
  opacity: 1;
  transition-delay: 1.8s;
}

/* Adjust transition-delay properly */
.sun.clicked ~ .infoBubble1 {
  height: 240px;
  width: 200px;
  border-radius: 12px;
  transform: translate(0px, -200px);
  transition: transform 0.6s ease, height 0.9s ease, width 0.9s ease,
    border-radius 0.3s ease;
  transition-delay: 0.6s;
}

.sun.clicked ~ .infoBubble2 {
  height: 300px;
  width: 240px;
  border-radius: 12px;
  transform: translate(-240px, -170px);
  transition: transform 0.6s ease, height 0.9s ease, width 0.9s ease,
    border-radius 0.3s ease;
  transition-delay: 0.4s;
}

.sun.clicked ~ .infoBubble3 {
  height: 300px;
  width: 240px;
  border-radius: 12px;
  transform: translate(240px, -170px);
  transition: transform 0.6s ease, height 0.9s ease, width 0.9s ease,
    border-radius 0.3s ease;
  transition-delay: 0.4s;
}

.sun.clicked ~ .infoBubble4 {
  height: 300px;
  width: 240px;
  border-radius: 12px;
  transform: translate(240px, 170px);
  transition: transform 0.6s ease, height 0.9s ease, width 0.9s ease,
    border-radius 0.3s ease;
  transition-delay: 0.8s;
}

.sun.clicked ~ .infoBubble5 {
  height: 240px;
  width: 200px;
  border-radius: 12px;
  transform: translate(0px, 200px);
  transition: transform 0.6s ease, height 0.9s ease, width 0.9s ease,
    border-radius 0.3s ease;
  transition-delay: 1s;
}

.sun.clicked ~ .infoBubble6 {
  height: 140px;
  width: 240px;
  border-radius: 12px;
  transform: translate(-240px, 90px);
  transition: transform 0.6s ease, height 0.9s ease, width 0.9s ease,
    border-radius 0.3s ease;
  transition-delay: 0.8s;
}

.sun.clicked ~ .infoBubble7 {
  height: 140px;
  width: 240px;
  border-radius: 12px;
  transform: translate(-240px, 250px);
  transition: transform 0.6s ease, height 0.9s ease, width 0.9s ease,
    border-radius 0.3s ease;
  transition-delay: 0.8s;
}

/* ----------------------------------- */
/* ----------------------------------- */

/* ----------------------------------- */
/*********** Profile picture ************/
/* ----------------------------------- */

.infoBubble1 {
  display: flex;
  margin: 10px;
  z-index: 1;
  border-radius: 24px;
  background-color: rgba(56, 55, 55, 0.758);
  border: 2px solid rgba(255, 100, 25, 0.5);
}

.infoBubble1:hover {
  animation: profileshadow1;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.profileContainer {
  height: 210px;
  width: 170px;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.profileContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileContainer:hover {
  transform: scale(0.9);
}

@keyframes profileshadow1 {
  from {
    box-shadow: 0;
  }

  to {
    box-shadow: 0 0 15px rgba(255, 100, 25, 0.8),
      0 0 20px rgba(255, 100, 25, 0.5), 0 0 20px rgba(255, 100, 25, 0.4),
      0 0 25px rgba(255, 100, 25, 0.3) inset;
    border: 2px solid rgba(255, 100, 25, 1);
  }
}

/* ----------------------------------- */
/* ----------------------------------- */

/* ----------------------------------- */
/********* infoBubble Content **********/
/* ----------------------------------- */

.infoBubble2 {
  display: flex;
  margin: 10px;
  z-index: 1;
  border-radius: 24px;
  background-color: rgba(56, 55, 55, 0.758);
  border: 2px solid rgba(76, 175, 80, 0.5);
}

.infoBubble2:hover {
  animation: boxshadow1;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes boxshadow1 {
  from {
    box-shadow: 0;
  }

  to {
    box-shadow: 0 0 15px rgba(76, 175, 80, 0.8), 0 0 20px rgba(76, 175, 80, 0.5),
      0 0 20px rgba(76, 175, 80, 0.4), 0 0 25px rgba(76, 175, 80, 0.3) inset;
    border: 2px solid rgba(76, 175, 80, 1);
  }
}

.infoBubble3 {
  display: flex;
  margin: 10px;
  z-index: 1;
  border-radius: 24px;
  background-color: rgba(56, 55, 55, 0.758);
  border: 2px solid rgba(255, 215, 55, 0.5);
}

.infoBubble3:hover {
  animation: boxshadow2;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes boxshadow2 {
  from {
    box-shadow: 0;
  }

  to {
    box-shadow: 0 0 15px rgba(255, 215, 55, 0.8),
      0 0 20px rgba(255, 215, 55, 0.5), 0 0 20px rgba(255, 215, 55, 0.4),
      0 0 25px rgba(255, 215, 55, 0.3) inset;
    border: 2px solid rgba(255, 215, 55, 1);
  }
}

.infoBubble4 {
  display: flex;
  margin: 10px;
  z-index: 1;
  border-radius: 24px;
  background-color: rgba(56, 55, 55, 0.758);
  border: 2px solid rgba(255, 60, 60, 0.5);
}

.infoBubble4:hover {
  animation: boxshadow3;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes boxshadow3 {
  from {
    box-shadow: 0;
  }

  to {
    box-shadow: 0 0 15px rgba(255, 60, 60, 0.8), 0 0 20px rgba(255, 60, 60, 0.5),
      0 0 20px rgba(255, 60, 60, 0.4), 0 0 25px rgba(255, 60, 60, 0.3) inset;
    border: 2px solid rgba(255, 60, 60, 1);
  }
}

.infoBubble5 {
  display: flex;
  margin: 10px;
  z-index: 1;
  border-radius: 24px;
  background-color: rgba(56, 55, 55, 0.758);
  border: 2px solid rgba(240, 250, 250, 0.5);
}

.infoBubble5:hover {
  animation: boxshadow6;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes boxshadow6 {
  from {
    box-shadow: 0;
  }

  to {
    box-shadow: 0 0 15px rgba(240, 250, 250, 0.8),
      0 0 20px rgba(240, 250, 250, 0.5), 0 0 20px rgba(240, 250, 250, 0.4),
      0 0 25px rgba(240, 250, 250, 0.3) inset;
    border: 2px solid rgba(240, 250, 250, 1);
  }
}

.infoBubble6 {
  display: flex;
  margin: 10px;
  z-index: 1;
  border-radius: 24px;
  background-color: rgba(56, 55, 55, 0.758);
  border: 2px solid rgba(15, 30, 240, 0.5);
}

.infoBubble6:hover {
  animation: boxshadow4;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes boxshadow4 {
  from {
    box-shadow: 0;
  }

  to {
    box-shadow: 0 0 15px rgba(15, 30, 240, 0.8), 0 0 20px rgba(15, 30, 240, 0.5),
      0 0 20px rgba(15, 30, 240, 0.4), 0 0 25px rgba(15, 30, 240, 0.3) inset;
    border: 2px solid rgba(15, 30, 240, 1);
  }
}

.infoBubble7 {
  display: flex;
  margin: 10px;
  z-index: 1;
  border-radius: 24px;
  background-color: rgba(56, 55, 55, 0.758);
  border: 2px solid rgba(125, 240, 255, 0.5);
}

.infoBubble7:hover {
  animation: boxshadow5;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes boxshadow5 {
  from {
    box-shadow: 0;
  }

  to {
    box-shadow: 0 0 15px rgba(125, 240, 255, 0.8),
      0 0 20px rgba(125, 240, 255, 0.5), 0 0 20px rgba(125, 240, 255, 0.4),
      0 0 25px rgba(125, 240, 255, 0.3) inset;
    border: 2px solid rgba(125, 240, 255, 1);
  }
}

.infoBubbleContent {
  background: none;
  border-radius: 12px;
  padding: 20px;
}

.title {
  font-size: 24px;
}

.paragraph {
  margin-top: 80px;
  font-size: 16px;
}

.paragraph4 {
  margin-top: 35px;
}

.paragraph6,
.paragraph7 {
  margin-top: 5px;
}

.download1 {
  margin-top: 15px;
  height: 40px;
  width: 100%;
  border-radius: 6px 6px 12px 12px;
  border: none;
  background-color: whitesmoke;
  cursor: pointer;
  font-size: 16px;
  transition-duration: 0.3s;
  font-weight: bold;
}

.download1:hover {
  background-color: rgba(76, 175, 80, 1);
  animation-timing-function: ease-in-out;
  color: white;
}

.download2 {
  margin-top: 15px;
  height: 40px;
  width: 100%;
  border-radius: 6px 6px 12px 12px;
  border: none;
  background-color: whitesmoke;
  cursor: pointer;
  font-size: 16px;
  transition-duration: 0.3s;
  font-weight: bold;
}

.download2:hover {
  background-color: rgba(255, 215, 55, 0.8);
  animation-timing-function: ease-in-out;
  color: white;
}

.download3 {
  margin-top: 15px;
  height: 40px;
  width: 100%;
  border-radius: 6px 6px 12px 12px;
  border: none;
  background-color: whitesmoke;
  cursor: pointer;
  font-size: 16px;
  transition-duration: 0.3s;
  font-weight: bold;
}

.download3:hover {
  background-color: rgba(255, 60, 60, 0.8);
  animation-timing-function: ease-in-out;
  color: white;
}

.linkButton {
  position: relative;
  margin: 5px;
  height: 45px;
  width: 95%;
  text-align: end;
  padding-right: 15px;
  border: none;
  border-radius: 6px;
  transition-duration: 0.3s;
  font-size: 15px;
  background-color: whitesmoke;
}

.socialIcon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  background: none;
}

.linkButton1:hover {
  background-color: #0c65c2;
  animation-timing-function: ease-in-out;
  color: white;
}

.linkButton2:hover {
  background-color: #76a8fb;
  animation-timing-function: ease-in-out;
  color: white;
}

.linkButton3:hover {
  background-color: #202228;
  animation-timing-function: ease-in-out;
  color: white;
}

.linkButton4:hover {
  background-color: #0666fc;
  animation-timing-function: ease-in-out;
  color: white;
}
/* ----------------------------------- */
/* ----------------------------------- */

/* ----------------------------------- */
/************ Toast Notification *******/
/* ----------------------------------- */
.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 150;
}

.toast.show {
  opacity: 0.8;
}

.toast.hide {
  opacity: 0;
}

.toast .progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: #ffd700;
  animation: progress 5s linear forwards;
}

@keyframes progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

/* ----------------------------------- */
/* ----------------------------------- */
