main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
  background: radial-gradient(ellipse at bottom, #052144 0%, #050608 100%);
  position: relative;
  overflow: hidden;
}

/* ----------------------------------- */
/************* Solar System ************/
/* ----------------------------------- */
.sun {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  width: 82px;
  height: 82px;
  background-color: #ebbf63;
  box-shadow: 0 0 50px #c90;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.5s ease, height 0.5s ease;
}

.sun.clicked {
  width: 75px;
  height: 75px;
}

/* ----------------------------------- */
/*### Orbital Trajectory of Planets ###*/
/* ----------------------------------- */

.orbit {
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: width 0.5s ease, height 0.5s ease, opacity 0.5s ease;
}

.sun.clicked ~ .orbit {
  width: 600px;
  height: 780px;
  opacity: 0;
}

.mercury-orbit {
  width: 100px;
  height: 100px;
  animation-duration: 2.89016s;
  animation-name: rotateOrbit;
}

.venus-orbit {
  width: 130px;
  height: 130px;
  animation-duration: 7.38237s;
  animation-name: rotateOrbit;
}

.earth-orbit {
  width: 180px;
  height: 180px;
  animation-duration: 12.00021s;
  animation-name: rotateOrbit;
}

.moon-orbit {
  position: absolute;
  width: 27.5px;
  height: 27.5px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  animation-duration: 0.89764s;
  animation-name: rotateOrbit;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.mars-orbit {
  width: 250px;
  height: 250px;
  animation-duration: 22.57017s;
  animation-name: rotateOrbit;
}

.jupiter-orbit {
  width: 420px;
  height: 420px;
  animation-duration: 142.35138s;
  animation-name: rotateOrbit;
}

.saturn-orbit {
  width: 580px;
  height: 580px;
  animation-duration: 353.36998s;
  animation-name: rotateOrbit;
}

.uranus-orbit {
  width: 700px;
  height: 700px;
  animation-duration: 1008.20215s;
  animation-name: rotateOrbit;
}

.neptune-orbit {
  width: 780px;
  height: 780px;
  animation-duration: 1977.49584s;
  animation-name: rotateOrbit;
}

/* ----------------------------------- */
/*############## Planets ##############*/
/* ----------------------------------- */
.planet {
  position: absolute;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.5s ease;
}

.sun.clicked ~ .orbit {
  opacity: 0;
}

.mercury {
  width: 9px;
  height: 9px;
  background-color: gray;
  top: -5px;
  background: radial-gradient(circle, #888, #555);
}

.venus {
  width: 13px;
  height: 13px;
  background-color: orange;
  top: -7px;
  background: radial-gradient(circle, #f9c26b, #e67e22);
}

.earth {
  width: 15px;
  height: 15px;
  background-color: blue;
  top: -9px;
  background: radial-gradient(circle, #89cff0, #006494);
}

.moon {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: lightgray;
  border-radius: 50%;
  top: -2.5px;
  left: 50%;
  transform: translateX(-50%);
  background: radial-gradient(circle, #ddd, #aaa);
}

.mars {
  width: 10px;
  height: 10px;
  background-color: red;
  top: -6.5px;
  background: radial-gradient(circle, #e57373, #d32f2f);
}

.jupiter {
  width: 70px;
  height: 70px;
  background-color: rgb(189, 137, 72);
  top: -32px;
  background: linear-gradient(to bottom, #d2b48c, #a0522d, #8b4513);
}

.saturn {
  z-index: 2;
  width: 35px;
  height: 35px;
  background: linear-gradient(to bottom, #f5f5dc, #e0c2a3, #d2b48c);
  top: -18px;
}

.saturn-ring1 {
  position: absolute;
  background: none;
  z-index: 1;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  transform: translate(-50%, -50%);
  border: 12px solid rgba(185, 154, 107, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.saturn-ring2 {
  position: absolute;
  background: none;
  z-index: 1;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  transform: translate(-50%, -50%);
  border: 2px solid rgba(187, 168, 140, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.uranus {
  width: 25px;
  height: 25px;
  background: radial-gradient(circle, #add8e6, #87ceeb);
  top: -13px;
}

.neptune {
  width: 22px;
  height: 22px;
  background: radial-gradient(circle, #4682b4, #000080);
  top: -12px;
}

@keyframes rotateOrbit {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* ----------------------------------- */
/* ----------------------------------- */

/* ----------------------------------- */
/************** Bubble Man *************/
/* ----------------------------------- */

.infoBubble {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: teal;
  transition: transform 0.3s ease;
}

/* head and body */
.sun.clicked ~ .infoBubble1 {
  transform: translate(0px, -200px);
  transition-delay: 0.6s;
}

.sun.clicked ~ .infoBubble2 {
  transform: translate(0px, -100px);
  transition-delay: 0.3s;
}

.sun.clicked ~ .infoBubble3 {
  transform: translate(0px, 100px);
  transition-delay: 0.3s;
}

/* arms */
.sun.clicked ~ .infoBubble4 {
  transform: translate(90px, -70px);
  transition-delay: 0.6s;
}

.sun.clicked ~ .infoBubble5 {
  transform: translate(-90px, -70px);
  transition-delay: 0.6s;
}

.sun.clicked ~ .infoBubble6 {
  transform: translate(150px, 10px);
  transition-delay: 0.9s;
}

.sun.clicked ~ .infoBubble7 {
  transform: translate(-150px, 10px);
  transition-delay: 0.9s;
}

/* legs */
.sun.clicked ~ .infoBubble8 {
  transform: translate(80px, 170px);
  transition-delay: 0.6s;
}

.sun.clicked ~ .infoBubble9 {
  transform: translate(-80px, 170px);
  transition-delay: 0.6s;
}

.sun.clicked ~ .infoBubble10 {
  transform: translate(80px, 270px);
  transition-delay: 0.9s;
}

.sun.clicked ~ .infoBubble11 {
  transform: translate(-80px, 270px);
  transition-delay: 0.9s;
}

/* ----------------------------------- */
/* ----------------------------------- */

/* ----------------------------------- */
/************* Bubble Info *************/
/* ----------------------------------- */

.infoBubble1.clicked {
}

.infoBubble1.clicked ~ .infoBubble2 {
}

.infoBubble1.clicked ~ .infoBubble3 {
}

.infoBubble1.clicked ~ .infoBubble4 {
}

.infoBubble1.clicked ~ .infoBubble5 {
}

.infoBubble1.clicked ~ .infoBubble6 {
}

.infoBubble1.clicked ~ .infoBubble7 {
}

.infoBubble1.clicked ~ .infoBubble8 {
}

.infoBubble1.clicked ~ .infoBubble9 {
}

.infoBubble1.clicked ~ .infoBubble10 {
}

.infoBubble1.clicked ~ .infoBubbl11 {
}

/* ----------------------------------- */
/* ----------------------------------- */
