@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

p,
h2 {
  background: none;
}

.cover {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../utils/img/cover.jpg);
  background-size: cover;
  transform-origin: 0;
  box-shadow: 1px 1px 12px #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all 0.5s;
  cursor: pointer;
}

.book {
  position: relative;
  width: 260px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 1px 1px 12px grey;
  transform: preserve-3d;
  perspective: 2000px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  text-align: center;
}

.book:hover .cover {
  transition: all 0.5s;
  transform: rotatey(-80deg);
}

.cover > p {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 3px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.resumeIcon {
  width: 150px;
  height: 150px;
}

.download-button {
  display: flex;
  flex-direction: column;
  background: none;
  cursor: pointer;
  border-radius: 10px;
  height: 50px;
  width: 120px;
  margin-top: 10px;
  text-align: center;
  justify-content: center;
  border: 1px solid red;
}
