.infoCard {
  height: 380px;
  width: 330px;
  text-align: center;
  border-radius: 2px;
  cursor: default;
  background-color: #403f50;
  color: white;
  padding: 10px 20px;
}

#title,
#subtitle,
#text,
.showMore {
  background-color: #403f50;
}

#title,
#subtitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

#image {
  position: relative;
  height: 120px;
  width: auto;
  left: 0px;
}

#subtitle {
  margin-bottom: 8px;
}

#text {
  font-size: 17px;
  font-weight: lighter;
  text-align: left;
}

.showMore {
  position: relative;
  bottom: -40px;
  font-size: 16px;
  text-align: left;
  font-weight: lighter;
  text-decoration: none;
  cursor: pointer;
  color: #ffd000;
}
