.wrapper1 {
  display: flex;
  height: 60px;
  align-items: center;
  position: relative;
  padding: 0 10px;
  background-color: #f0f8ff;
}

.container1 {
  display: flex;
  width: 100%;
  padding-left: 170px;
  min-width: fit-content;
}

.wrapper2 {
  display: flex;
  height: 60px;
  background-color: #a2dffb;
  align-items: center;
  position: relative;
}

.container2 {
  display: flex;
  width: 100%;
  padding-left: 200px;
  min-width: fit-content;
}

.naviButton2 {
  z-index: 100;
  margin: 0px 20px;
  position: relative;
  cursor: pointer;
  color: black;
  transition: color 0.3s ease-in-out;
  flex-shrink: 0;
}

.naviButton2.naviButton2::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  transform: translateX(-50%);
}

.naviButton2:hover {
  color: white;
}

.naviButton2:hover::after {
  width: 100%;
}

.active-bg {
  position: absolute;
  z-index: 1;
  background-color: #02aeef;
  height: 36px;
  border-radius: 4px;
  transition: left 0.3s ease-in-out, width 0.3s ease-in-out,
    top 0.3s ease-in-out;
  flex-shrink: 0;
}

.naviButton2.active {
  color: white;
}

.title {
  margin-right: 20px;
  font-weight: bold;
  flex-shrink: 0;
}

.dropdown-select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: black;
  font-size: 16px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  cursor: pointer;
  flex-shrink: 0;
}

.dropdown-select:focus {
  outline: none;
  border-color: #02aeef;
}

.dropdown-select option {
  padding: 8px 12px;
}

.naviContainer1 {
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 100%;
  width: 450px;
  flex-shrink: 0;
}

.naviContainer2 {
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 100%;
  width: 978px;
  flex-shrink: 0;
}

.naviButton1 {
  display: flex;
  margin-right: 20px;
  flex-shrink: 0;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.naviButton1:hover {
  color: #02aeef;
}

.naviButton1-item {
  margin: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.naviButton1-item img {
  margin-right: 5px;
}

.search {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 20px;
  flex-shrink: 0;
}

.language {
  padding: 8px 12px;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  flex-shrink: 0;
}

.mainLogo {
  position: absolute;
  z-index: 100;
  top: 24px;
  left: 24px;
  height: 150px;
  width: 150px;
  background-color: #02aeef;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: scale 0.3s ease-in-out;
}

.mainLogoText {
  position: absolute;
  z-index: 100;
  font-size: 48px;
  font-weight: bold;
  color: white;
}

.mainLogo:hover {
  scale: 1.1;
}

.logoutButton {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 6px;
  background-color: #fa6d16;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoutButton svg {
  color: white;
  font-size: 1.4em;
}
